
body {
  background-color: #222;
  color: #bfff00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px
}

pre {
  color: #bfff00;
}

button {
  cursor: pointer;
}

.center {
  text-align: center;
}

.output {
  margin-top: 20px;
}