<div class="row">
  <div class="col">
    <h2>{{title}}</h2>
    <p>Best done with <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">a pal</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    {{> slider}}
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>Who</h2>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col">

  </div>
  <div class="col-8">
    <h2>What</h2>
    <p>
      <a href="http://coderetreat.org/" target="_blank">Code Retreat</a> 
      is a global event to celebrate our nerdradery and love for programming.
    </p>
    <p>
      The term programming is too lifeless, we are not robots, we do not just 
      "program" we craft!
    </p>
    <p>
      
    </p>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>When</h2>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col">

  </div>
  <div class="col-8">
    <h2>Where</h2>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h2>Why</h2>
  </div>
  <div class="col">

  </div>
</div>